dg-tabs {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

dg-tabs .tab {
	background-color: #ffffffe0;
	border: none;
	height: 50px;
	margin: 0 auto;
	max-width: 960px;
}

dg-tabs .tab-item {
	border-top: .5rem solid transparent;
	height: 100%;
	text-shadow: 0 0 0;
	width: 100%;
}

dg-tabs .tab-item.active {
	text-shadow: 1px 1px 4px;
	border-top: .5rem solid #5755d9;
	background-color: #ffffff;
}

dg-tabs .tab-item button {
	height: 80px;
	font-size: 20px;
	width: 100%;
}

dg-tabs .tab-item button:focus {
	outline:0;
}
