dg-card-reveal {
	display: inline-block;
	overflow: hidden;
}

dg-card-reveal .card-reveal-container {
	transition: top 750ms;
	position: relative;
	top: 450px;
	transform: translate3d(0, 0, 0);
}

dg-card-reveal .card-reveal-container.activated {
	position: relative;
	top: 0;
}
