dg-page .dg-page {
	background-color: transparent;
	opacity: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	transition: opacity .2s;
	z-index: 0;
}

dg-page .dg-page-active {
	opacity: 1;
	z-index: 1;
}
