body.intro-running {
	overflow: hidden;
}

dg-app > div {
	color: #788092;
	height: 100vh;
}

dg-app .dg-app-container.container {
	margin: 70px auto 200px auto;
	max-width: 960px;
	position: relative;
	height: 100%;
}

dg-nav {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffffe0;
	z-index: 2;
}

dg-tabs {
	transition: bottom .3s;
	z-index: 2;
}

.inactive dg-tabs {
	bottom: -50px;
}
