dg-project-card {
	display: inline-block;
	margin-top: 16px;
}

dg-project-card .card-image {
	height: 320px;
	position: relative;
}

dg-project-card dg-image-rotator {
	height: 100%;
	width: 100%;
}

dg-project-card div.parallax-content div.parallax-front {
	text-shadow: 0 0 8px rgb(0, 0, 0);
}
