dg-projects {
	background-color: #0f1121;
	display: block;
	height: 100%;
}

dg-projects p.subtitle {
	text-align: center;
}

.shrinkable {
	max-height: 410px;
	max-width: 330px;
	opacity: 1;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	transition:
		max-height .5s 0.8s,
		max-width 1s,
		margin 1s,
		opacity 1s 0.8s,
		padding 1s;
}

.shrinkable.shrunken {
	max-height: 0;
	max-width: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
	transition:
		max-height 1s,
		max-width .5s 0.8s,
		margin 1s 0.8s,
		opacity 1s,
		padding 1s 0.8s;
}


.faded-out {
	opacity: 0;
}

.fade-in {
	animation-delay: 6.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-name: fade-in;
}

.reveal {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-name: reveal;
	font-weight: bold;
	max-height: 0;
	padding: 0 10px;
	overflow: hidden;
	position: relative;
}

.reveal:nth-child(1) {
	animation-delay: 1s;
}

.reveal:nth-child(2) {
	animation-delay: 2s;
}

.reveal:nth-child(3) {
	animation-delay: 3s;
}

.cross-out {
	display: inline-block;
}

.cross-out:after,
.cross-out:before {
	animation-duration: 0.25s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-name: expand;
	border-top: 2px solid;
	content: '';
	display: inline-block;
	height: 100%;
	position: absolute;
	width: 0;
}

.cross-out:after {
	animation-delay: 4s;
	left: 0;
	transform: rotate(9deg);
	transform-origin: top left;
	top: 0;
}

.cross-out:before {
	animation-delay: 4.5s;
	right: 0;
	transform: rotate(-9deg);
	transform-origin: top right;
	top: 0;
}

@keyframes reveal {
	from {
		max-height: 0;
	}

	to {
		max-height: 50px;
	}
}

@keyframes expand {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
