dg-image-rotator {
	background-color: #eaeaea;
	display: block;
	max-height: 100%;
	max-width: 100%;
	position: relative;
}

dg-image-rotator .img-responsive {
	display: inline-block;
	left: 50%;
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 1s;
}

dg-image-rotator .img-responsive.active {
	opacity: 1;
}
