dg-work-history {
	margin: 30px;
	display: block;
}

dg-work-history .timeline-icon {
	background-color: transparent;
	border: none;
}

dg-work-history .tooltip:focus:after,
dg-work-history .tooltip:hover:after {
	transform: translate(-30%,-.2rem);
}
